{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
{%for listing in listings%}
    {%if listing.status%}
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
                {% if listing.image %}
                    <img src="{{listing.image.url}}" class="card-image">
                {%else%}
                <img src="/media/listing_image/no_image.png" class="card-image">
                 {%endif%}
        </div>
            <div class="card-block px-2">
                <h4 class="card-title"><a class= "nav-link" href="{% url 'listing' listing.name %}">{{listing.name}}</a></h4>
                <p class="card-text">{{listing.description}}</p>
                <p class="card-text">Price: ${{listing.price}}</p>
                <a href="{%url 'listing' listing.name%}" id="index_btn" class="btn btn-primary">Bid Now</a>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Seller: {{listing.seller}} <br>Posted on: {{listing.date}}
            </div>
    </div>
    {%endif%}
        {%endfor%}
{% endblock %}