{%extends "auctions/layout.html"%}

{%block body%}
    <h2>all of {{user.username}} active bids:</h2>
    <hr>
   {%if bids%} 
        {%for bid in bids%}
        <ul >
            <li>
               <h2>Bid ${{bid.price}} on:<a class= "nav-link" href="{% url 'listing' bid.name %}">{{bid.name}}</a></h2>
            </li> 
         </ul>   
        {%endfor%}
{%else%}
    <h2>No bids.</h2>    
{%endif%}
<hr>
 <h2>all of {{user.username}} won bids:</h2>
{%if wonbids%} 
        {%for wonbid in wonbids%}
        <ul >
            <li>
               <h2>Bid won! for the price of ${{wonbid.price}} on:<a class= "nav-link" href="{% url 'listing' wonbid.name %}">{{wonbid.name}}</a></h2>
            </li> 
         </ul>   
        {%endfor%}
{%else%}
    <h2>No won bids.</h2>
 {%endif%}   

{%endblock%}