{%extends "auctions/layout.html"%}

{%block body%}
<div class="division">
{%if listing.image%}
    <img src="{{listing.image.url}}"class="list_img">
{%else%}
    <img src="/media/listing_image/no_image.png"class="list_img">
{%endif%}
 <h2 >{{listing.name}} {%if not listing.status %}<span class="listing">(closed){%endif%}</span></h2><hr>

<h5>Condition: <span class="listing">{{listing.condition}}</span></h5>
<h5>Catagory:
        {%if tags%}
            {%for tag in tags %}
                <span class="tags">{{tag}},</span>
            {%endfor%}
        {%else%}
            <span class="listing">Not listed</span>
        {%endif%}
</h5>
<h5>Last Updated on: <span>{{listing.date}}</span></h5>
<h5>Posted by: <span>{{listing.seller}}</span></h5>
{%if listing.status%}
    <div class="grey_box">
        <div class="containerz">
            <h5>Current bid: <span class="listing">US ${{listing.price}}</span>
            <span class="bidder">
            Current bidder:
            {%if listing.current_bidder%}
                {{listing.current_bidder}}
            {%else%}
                No bidders
            {%endif%}
            </span>
            </h5>
            <form action="{%url 'bid'%}" method="POST">
                {% csrf_token %}
                <input type="text" name="bid" placeholder="bid">
                <input type="hidden" name="listing" id="listing" value="{{listing.name}}">
                <input type="submit" class="btn btn-primary" id="bid_btn" value="Place bid">
            </form>
            <form action="{%url 'watchlist'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="listing" id="listing" value="{{listing.name}}">
                {%if watchflag %}
                    <input id="watch_btn" type="submit" class="btn btn-primary" value="Remove Watch">
                {%else%}   
                    <input id="watch_btn" class="btn btn-primary" type="submit" value="Watchlist">
                {%endif%}
            </form>
    </div>

    </div>
    {%else%}
    <h2>The winning bid is: <span class="listing">{{listing.price}}</span></h2>
    <h2>By: <span class="listing">{{listing.current_bidder}}{%if winnerflag%}(you){%endif%}</span></h2>
{%endif%}

{%if messages%}
<ul class="messages">
    {%for message in messages%}
        <li {%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {%endfor%}
</ul>    
{%endif%}
</div>
{%if sellerflag%}
    {%if listing.status%}
        <form action="{%url 'closelist' listing.name%}" method='POST'>
        {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Close Bid">
        </form>
    {%endif%}
{%endif%}
<hr>
<div class="card" id="move">
    <div class="body">
    <h5 class="card-title">Description:</h5>
    <p class="card-text">{{listing.description}}</p>
    </div>
 </div>
<hr>
<h3>Comments</h3>
{%if comments%}
    {%for comment in comments%}
    <div class="card">
        <div class="card-header">{{comment.commenter}}</div>
            <div class="card-body">
                <p class="card-text">{{comment.text}}</p>
            </div>
    </div>  
    {%endfor%}
{%endif%} 
 
<h3>Add a comment:</h3>
<form action="{%url 'comment' listing.name%}"method="POST">
{% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" name="comment" placeholder="Enter comment"></textarea>
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>    
</form>
{%endblock%}